#================================================
#********* Please read carefully ****************
# follow the below yml format to make application
# work perfectly
#================================================

user:
  name: application user name

  # this email info will be used as your email
  email:
    name: hasanuzzaman@nascenia.com
    password: ''

  # database credential that you want to take backup
  database:
    mysql:
      user_name: database_user_name
      password: pass

  # facebook credential
   facebook:
     user_name: fb_user_name
     password: fb_passwork

  # linkedin credential
  linkedin:
    user_name:
    password:
